<div id="<%= dom_id trip %>">
  <p>
    <strong>Destination:</strong>
    <%= trip.destination %>
  </p>
  <p>
    <strong>Start date:</strong>
    <%= trip.start_date %>
  </p>
  <p>
    <strong>End date:</strong>
    <%= trip.end_date %>
  </p>
  <p>
    <strong>Trip review:</strong>
    <%= trip.trip_review %>
  </p>
</div>
