<div id="<%= dom_id trip_day %>">
  <p>
    <strong>Trip:</strong>
    <%= trip_day.trip_id %>
  </p>

  <p>
    <strong>Day:</strong>
    <%= trip_day.day_id %>
  </p>

  <p>
    <strong>Review:</strong>
    <%= trip_day.review %>
  </p>

  <p>
    <strong>Date:</strong>
    <%= trip_day.date %>
  </p>

  <p>
    <strong>Weather predicted:</strong>
    <%= trip_day.weather_predicted %>
  </p>

</div>
