<div id="<%= dom_id day %>">
  <p>
    <strong>Notes:</strong>
    <%= day.notes %>
  </p>

  <p>
    <strong>Day rating:</strong>
    <%= day.day_rating %>
  </p>

  <p>
    <strong>Day review:</strong>
    <%= day.day_review %>
  </p>

  <p>
    <strong>Weather suggested:</strong>
    <%= day.weather_suggested %>
  </p>

</div>
