<div id="<%= dom_id day %>">
  <p>
    <strong>Date:</strong>
    <%= day.date %>
  </p>

  <p>
    <strong>Notes:</strong>
    <%= day.notes %>
  </p>

  <p>
    <strong>Rating:</strong>
    <%= day.rating %>
  </p>

  <p>
    <strong>Weather historical:</strong>
    <%= day.weather_historical %>
  </p>

  <p>
    <strong>Weather predicted:</strong>
    <%= day.weather_predicted %>
  </p>

</div>
